/* 
Общая цветовая палитка сайта: черный, белый, оранжевый.
Индикаторные цвета: ярко красный и зелёный.
*/
body {
    background-color: #111;
    color: white;
    font-family: Arial, sans-serif;
    margin: 5px;
    padding: 5px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
    background-color: #333;
    border: 2px solid #ffa500;
    border-radius: 4px;
    cursor: pointer;
    appearance: none;
    position: relative;
}

input[type="checkbox"]:checked {
    background-color: #ffa500;
}

input[type="checkbox"]:checked::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    background-color: #000;
    clip-path: polygon(14% 44%, 0% 64%, 44% 100%, 100% 0%, 77% 0%, 39% 86%);
}

input[type="text"] {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: #333;
    color: white;
    border: 1px solid #ffa500;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    text-align: center;
}

input[type="submit"]:hover {
    background-color: #222;
}

/* Стили для ссылок */
a {
    color: #ff7e00;
    text-decoration: none;
}

a:visited {
    color: #ffa500;
}

a:hover {
    text-decoration: underline;
}

/* Стили для кнопок */
button {
    background-color: #333; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #222;
}

/* Стили для шапки */
.header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

/* Стили для карточек */
.card {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-content {
    padding: 15px;
}

/* Добавление стилей для заголовков внутри карточек */
.card-content h1,
.card-content h2,
.card-content h3,
.card-content h4,
.card-content h5,
.card-content h6 {
    margin-top: 0;
    margin-bottom: 15px;
}

/* Стили для таблицы */
table {
    width: 100%;
    border-collapse: collapse; 
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Стили для заголовков таблицы */
th {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    text-align: left;
    border: 1px solid #555;
}

/* Стили для ячеек таблицы */
td {
    padding: 8px 15px;
    border: 1px solid #e0e0e0;
}

/* Цвета */
.green {
    color: rgb(0, 255, 0);
}

.red {
    color: red;
}

/* Стили для полосы прокрутки */
::-webkit-scrollbar {
    width: 12px;
    background-color: #111;
}

::-webkit-scrollbar-thumb {
    background-color: #ffa500;
    border-radius: 6px;
    border: 3px solid #111;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ff7e00;
}
