.popup {
    display: block;
    position: fixed;
    right: 20px;
    padding: 10px;
    margin-top: 10px;
    z-index: 1000;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 4px; /* Скругленные углы */
}

.info {
    background-color: #333; /* Тёмно-серый фон */
    color: white; /* Белый текст */
    border: 1px solid #ffa500; /* Оранжевая граница */
}

.success {
    background-color: #333; /* Тёмно-серый фон */
    color: rgb(0, 255, 0); /* Зелёный текст */
    border: 1px solid rgb(0, 255, 0); /* Зелёная граница */
}

.warning {
    background-color: #333; /* Тёмно-серый фон */
    color: yellow; /* Жёлтый текст */
    border: 1px solid yellow; /* Жёлтая граница */
}

.error {
    background-color: #333; /* Тёмно-серый фон */
    color: red; /* Красный текст */
    border: 1px solid red; /* Красная граница */
}