<!DOCTYPE html>
<html lang="ru">

<head>
    {% include 'base_modules/base_head.html' %}
    <title>О программе DM-Bot</title>
</head>

<body>
    {% include 'base_modules/navigation.html' %}
    <div class="card card-content">
        <h1>О программе DM-Bot</h1>
        
        <h2>Введение</h2>
        <p>Приветствую вас на странице разработки утилиты DM-Bot организации A&D (angels and demons).</p>
        
        <h2>Что такое DM-Bot?</h2>
        <p>DM-Bot — это утилита для проведения текстовых ролевых игр на платформе Discord. Наша цель — создать максимально глубокий и проработанный игровой опыт для всех участников.</p>
        
        <h2>Техническая часть</h2>
        <p>DM-Bot написан на Python и скомпилирован для Windows. Исходный код закрыт, но утилита будет поддерживать гибкую систему настроек и добавления собственного контента через yml файлы.</p>
    
        <br>

        <h2>Ссылки</h2>
        <a href="https://discord.gg/vxzegFkRjB">Discord</a><br>
        <a href="https://boosty.to/themanyfaceddemon">Boosty</a>
    </div>

    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
</body>

{% include 'base_modules/footer.html' %}

</html>
