<!DOCTYPE html>
<html lang="ru">

<head>
    {% include 'base_modules/base_head.html' %}
    <title>Просмотр игроков</title>

    <style>
        .container {
            display: flex;
            justify-content: space-between;
        }

        .output-column,
        .input-column {
            flex: 1;
        }
    </style>
</head>

<body>
    {% include 'base_modules/navigation.html' %}

    <div class="container">
        <div class="input-column card card-content">
            
            <input type="text" id="searchInput" placeholder="Поиск по ID или имени">

            <div id="playerButtons" class="player-buttons-container"></div>

        </div>

        <div class="output-column card card-content">

            <div id="playerInfo"></div>
            
        </div>
    </div>


    <script src="{{ url_for('static', filename='js/player.js') }}"></script>
</body>

{% include 'base_modules/footer.html' %}

</html>
