<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>О программе</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>

<body>
    <div>
        <ul>
            <li><a href="/">Главная</a></li>
                <p>▬▬▬ Ссылки ▬▬▬</p>
                <a href="https://discord.gg/vxzegFkRjB">Discord</a>

                <a href="https://boosty.to/themanyfaceddemon">Boosty</a>
                <p>▬▬▬ ▬▬▬▬ ▬▬▬</p>
            <li><a href="/about">О программе</a></li>
        </ul>
    </div>

    <h1>About html</h1>
</body>

<div class="footer">
    <p>DM-Bot</p>
</div>

<script type="text/javascript">
    var socket = io.connect('http://' + document.domain + ':' + location.port);
</script>

</html>
