<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Панель управления ботом</title>
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    
    <style>
        .container {
            display: flex;
            justify-content: space-between;
        }

        .input-column {
            flex: 1;
            margin-right: 20px;
        }

        .output-column {
            flex: 1;
        }
    </style>
</head>

<body>
    <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="/player">Просмотр игрокав</a></li>
        <li><a href="/bot">Управление ботом</a></li>
        <li><a href="/about">О программе</a></li>
    </ul>

    
    <div class="container">
        <div class="input-column card card-content">
            <h3>Контроль бота</h3>
            <button onclick="startBot()">Запустить бота</button>

            <!-- Работа с токеном -->
            <h3>Токен</h3>
            <button onclick="hasToken()">Проверить сохранённый токен</button> <br><br>
                    
            <label for="botToken">Ввести токен:</label>
            <input type="text" id="botToken">
            <button onclick="sendToken()">Отправить</button>
        </div>

        <div class="output-column card card-content">
            Статус онлайна бота: <p style="display: inline;" id="botStatus"></p><br><br>

            Статус токена: <p style="display: inline;" id="botHasToken"></p><br><br>

            > <p style="display: inline;" id="anserFromPy"></p>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/bot.js') }}"></script>
</body>

<div class="footer">
    <p>DM-Bot</p>
</div>

</html>
