<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Панель управления ботом</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>

<body>
    <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="/bot">Управление ботом</a></li>
    </ul>

    <div class="card">
        <div class="card-content">
            <h1>Кнопки управления ботом</h1>
            <button class="btn" onclick="startBot()">Запуск бота</button>
            <br><br>
            <form method="post" autocomplete="off" onsubmit="saveToken()">
                <label for="token">Ввести токен:</label>
                <input type="text" id="token" name="token" required class="btn">
                <input class="btn" type="submit" value="Set Token">
            </form>
        </div>
    </div>

    <div class="footer">
        <p>Статус: <span id="bot_status">{{ bot_status|safe }}</span></p>
        <p>Токен: <span id="bot_create">{{ bot_create|safe }}</span></p>
    </div>

    <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        // Загрузка сохраненного токена при загрузке страницы
        window.onload = function() {
            var savedToken = localStorage.getItem('savedToken');
            if (savedToken) {
                document.getElementById('token').value = savedToken;
            }
        }

        socket.on('update_bot_status', function(bot_status) {
            document.getElementById('bot_status').innerHTML = bot_status;
        });

        // Сохранение токена в localStorage
        function saveToken() {
            var token = document.getElementById('token').value;
            localStorage.setItem('savedToken', token);
        }

        setInterval(statusBot, 5000);

        function startBot() {
            socket.emit('start_bot');
        }

        function shutdownBot() {
            socket.emit('shutdown_bot');
        }

        function statusBot() {
            socket.emit('status_bot');
        }
    </script>

</body>

</html>
