<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Main</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="/player">Просмотр игроков</a></li>
        <li><a href="/bot">Управление ботом</a></li>
        <li><a href="/about">О программе</a></li>
    </ul>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
</body>

<div class="footer">
    <p>DM-Bot</p>
</div>

</html>
