/* Стили для нижней панели */
.footer {
    background-color: #333; /* Тёмно-серый фон */
    color: white; /* Белый цвет текста */
    text-align: center; /* Выравнивание текста по центру */
    position: fixed; /* Фиксированное положение */
    bottom: 5px; /* Отступ снизу */
    left: 5px; /* Отступ слева */
    right: 5px; /* Отступ справа */
    width: auto; /* Ширина по содержимому */
}
