<!DOCTYPE html>
<html lang="ru">

<head>
    {% include 'base_modules/base_head.html' %}
    <title>Настройки</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/collapsible.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/popup.css') }}">
</head>

<body>
    {% include 'base_modules/navigation.html' %}

    <button class="collapsible">Настройки Бота</button>
    <div class="collapsible-content">
        <form autocomplete="off" onsubmit="saveTokenSettings(event)">
            <label for="token">Введите токен бота:</label>
            <input type="text" id="token" name="token" autocomplete="off">
            <input type="submit" value="Сохранить токен">
        </form>
        
        <label for="autoStart">
            <input type="checkbox" id="autoStart" name="autoStart" onchange="saveAutoStartSetting()">
            Автоматический запуск бота
        </label>

        <div id="tokenStatus"></div>
        <br>
        <button onclick="startBot()">Запустить бота</button>
    </div>

    <button class="collapsible">Автоматические обновления</button>
    <div class="collapsible-content">
        Текущая версия приложения: <span id="appCurentVersion">???</span><br>
        Версия приложения на репозитории: <span id="appLatestVersion">???</span>
        <br><br>
            <label for="autoUpdateVersion">
                <input type="checkbox" id="autoUpdateVersion" name="autoUpdateVersion" onchange="saveAutoUpdateSetting()">
                Автоматические обновления программы при запуске (необходимо перезапустить приложение)
            </label>
    </div>

    <script src="{{ url_for('static', filename='js/popup.js') }}"></script>
    <script src="{{ url_for('static', filename='js/collapsible.js') }}"></script>
    <script src="{{ url_for('static', filename='js/settings/main.js') }}"></script>
</body>

{% include 'base_modules/footer.html' %}

</html>
