<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Настройки</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    {% include 'base_modules/navigation.html' %}

    <div class="card card-content">

        <h1>Настройки Бота</h1>
        <form autocomplete="off">
            
            <label for="autoStart">
                <input type="checkbox" id="autoStart" name="autoStart">
                Автоматический запуск бота
            </label>

            <br><br>

            <label for="token">Введите токен бота:</label><input type="text" id="token" name="token" autocomplete="off">
            <input type="submit" value="Сохранить токен">
        </form>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
</body>

{% include 'base_modules/footer.html' %}

</html>

